{% extends 'base.html' %}

{% block title %}<title>{{ event}}</title>{% endblock title %}

{% block content %}

    <h2>{{ event}}</h2>
    <a href="/events/delete/{{event.id}}">delete</a>
    <a href="/events/update/{{event.id}}">update</a>
    <p>LOCATION: {{ event.location}} DESCRIPTION: {{ event.description }} CATEGORY: {{ event.category}} HOST: {{ event.host }}</p>
    <h3>Event runs</h3>

    <ul>
    {% for run in runs %}
    <li>HAPPENS: {{ run.happens}} SEATS: {{ run.seats_available }} PRICE: {{ run.price }} <a href="/events/updateRun/{{run.id}}">update run</a> <a href="/events/deleteRun/{{run.id}}">delete run</a>
    {% endfor %}
    <p><a href="/events/{{event.id}}/newRun">new run</a></p>
    </ul>   

{% endblock content %}